<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create a flashcard</title>
</head>
<body>
    <form action="#" th:action="@{/fcmaker}" th:object="${fcmaker}" method="post"> <!-- here must be fcmaker, not: fcMaker -->
        <p>Create a flashcard</p>
        <p>Phrase to translate:<input type="text" th:field="*{phraseToTranslate}"/></p>
        <!--<p>Translation way:<input type="radio"-->
                            <!--th:field="*{"/></p>-->
        <p><input type="submit" value="Submit" /></p>
        <ul>
            <li th:each="transWay: ${transAllWays}">
                <input type="radio"
                       th:field="*{selectedTransWay}"
                       th:value="${transWay}" />
                <label
                        th:for="${#ids.prev('selectedTransWay')}"
                        th:text="${transway}"></label>
            </li>
        </ul>
    </form>
</body>
</html>