<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flascards generated.</title>
</head>
<body>
<h1>Result</h1>
<!--<p th:text="'PtT: ' + ${fcmaker.phraseToTranslate}" />-->

<table>
    <tr>
        <th>H: ID</th>
        <th>H: Phrase to translate</th>
    </tr>
    <tr th:each="fcmaker : ${flashcards}">
        <td th:text="${fcmaker.id}">ID</td>
        <td th:text="${fcmaker.phraseToTranslate}">phrase to translate</td>
    </tr>
</table>


<a href="/fcmaker">Submit another flashcard</a>
</body>
</html>